.image-layer {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(bg.jpg);
  color: transparent;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0, 0, 0, .5);
  animation: glitch 8s linear infinite;
}

.frame {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.9) 100%);
  overflow-y: hidden;
}

.frame div {
  position: absolute;
  left: 0;
  top: -20%;
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, .12);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  animation: waves 12s linear infinite;
}

.frame div:nth-child(1) {
  animation-delay: 0;
}

.frame div:nth-child(2) {
  animation-delay: 4s;
}

.frame div:nth-child(3) {
  animation-delay: 8s;
}

@keyframes waves {
  0% {
    top: -20%;
  }
  100% {
    top: 100%;
  }
}

@keyframes glitch {
  0% {
    opacity: .8;
  }
  10% {
    opacity: .6;
  }
  20% {
    opacity: .7;
  }
  30% {
    opacity: .5;
  }
  40% {
    opacity: .6;
  }
  50% {
    opacity: .6;
  }
  54% {
    opacity: .8;
  }
  58% {
    opacity: .6;
  }
  60% {
    opacity: .6;
  }
  65% {
    opacity: .7;
  }
  70% {
    opacity: .5;
  }
  80% {
    opacity: .6;
  }
  90% {
    opacity: .7;
  }
  93% {
    opacity: .8;
  }
  96% {
    opacity: .6;
  }
  100% {
    opacity: .7;
  }
}

iframe {
  display: none
}
